/**
 * SASS Tools chain : Should use auto-prefixer
 */

div.wysiwyg-menu {
    $button-size: 25px;
    position: fixed;
    display: none;
    transition: all .3s ease-in-out;
    ul {
        padding: 5px;
        border-radius: 5px;
        background-color: #eee;
        display: inline-block;
        li {
            display: inline-block;
            margin-right: 3px;
            list-style: none;
            button {
                background-color: #fff;
                border-radius: 5px;
                border: none;
                width: $button-size;
                height: $button-size;
                text-align: center;
                line-height: $button-size;
                padding: 0;
                color: #aaa;
                &:hover {
                    color: #666;
                }
            }
        }
    }
    .wysiwyg-anchor-ui {
        padding: 5px;
        background-color: #eee;
        border-radius: 5px;
        width: 235px;
        select {
            text-align: center;
            width: 4rem;
            font-size: 0.85em;
            color: #555;
        }
        input {
            color: #333;
            width: calc(100% - 5px);
            margin-bottom: 5px;
        }
    }

    &.html {
        ul li button {
          position: relative;

            i {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;

                &:after {
                    color: black;
                    left: 50%;
                    transform: translateX(-50%);
                    font-style: normal;
                    position: absolute;
                }

                // Undo.
                &.fa-undo:after {
                    content: '\21BA';
                }

                // Repeat.
                &.fa-repeat:after {
                    content: '\21BB';
                }

                // Bold.
                &.fa-bold:after {
                    content: 'B';
                    font-weight: bold;
                }

                // Italic.
                &.fa-italic:after {
                    content: 'I';
                    font-style: italic;
                }

                // UL.
                &.fa-list-ul:after {
                    content: 'UL';
                }

                // OL.
                &.fa-list-ol:after {
                    content: 'OL';
                }

                // Link.
                &.fa-link:after {
                    content: '\1F517';
                }

                // Un-link.
                &.fa-unlink:after {
                    content: '\1F517';
                    text-decoration: line-through;
                }
            }
        }
    }
}
